body {
	font-size: 22px;
	color: black;
	font-family: "Ariel", sans-serif;
}

header, main {
	padding-left: 30px;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: red;
}

nav{
	border: none;
	display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
}

footer{
	padding: 30px;
	background-color: black;
	color: white;
	padding-left: 50px;
}

#active {
	color: tomato;
}

.bottom-border{
	padding-bottom: 25px;
}

.table2{
	text-align: center;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}

.table2-th{
	text-align: center;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}

.table2-td{
	text-align: center;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}

.table2-tr{
	text-align: center;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}


.td-no-border{
	border: none;
	padding-right: 20px;
}

.tr-no-border{
	border: none;
}




.table1{
	border: none;
}



@media(max-width: 800px){
	nav {
		border: none;
		display: flex;
		justify-content: space-between;
	}
	.us{
		width: 500px;
	}
}

@media(max-width: 600px){
	h1{
		text-align: center;
	}
	nav{
		flex-direction: column;
		justify-content: center;
		font-size: 24px;
	}
	.us{
		width: 100%;
	}
	.table2{
		font-size: 20px;
	}
}

@media(max-width: 400px){
	.table2{
		font-size: 18px;
	}
}

