body {
	font-size: 20px;
	color: black;
	font-family: "Ariel", sans-serif;
}


header, main {
	padding-left: 30px;
}


a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: tomato;
}

img {
	border-radius: 35px;
	width: 100%;
	height: auto;
	border: 1px solid black;
	object-fit: cover;
  display: block;
}

button{
	background-color: #f1eee9;
	margin-top: 10px;
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
	cursor: pointer;
	verticle-align: center;
}

nav{
	border: none;
	display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
}

footer{
	padding: 30px;
	background-color: black;
	color: white;
	padding-left: 50px;
}

select{
	width: 300px;
	padding: 10px;
}

textarea{
	font-family: "Ariel", sans-serif;
	font-size: 14px;
}

#active {
	color: tomato;
}

.Doba{
	verticle-align: center;
	text-align: center;
}

.td-no-border{
	border: none;
}

/*Grid Контейнер*/
.container{ 
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	gap: 10px;
	justify-items: stretch;
  align-items: stretch;
}

.container p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 10px;
}
/*
.image {
	height: 70%;
}
*/
.white{
	color: white;
}
/*
.image1 {
	height: 70%;
}
*/
.grey{
	color: grey;
}

.price{
	font-size: 24px;
}

/*Названия блюд*/
.foodname{
	line-height: 1em;
	min-height: 2em;
	font-size: 24px;
}

.item1 {  
	box-sizing: border-box; /*Включает padding и margin в ширину и высоту элемента*/
	width: 100%;
	display:flex;
	flex-direction: column;
  border: 1px solid black;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  cursor: pointer;
  border-radius: 35px;
  justify-content: flex-start;
}

.item1:hover {
  border-color: tomato; /* цвет границы при наведении */
  border: 2 px solid tomato;

}

.item1:hover .button{
	background: darkgrey;
}

.bottom{
	padding-bottom: 20px;
}




/*Контейнер Grid - вся форма заказа*/
.cont-Zakaz{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	gap: 10px;
	justify-items: center;
  align-items: stretch;

/*Колонка полей с выбором еды*/
}
.left-choice{
	deploy: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}

/*Колонка полей с указанием данных клиента*/
.right-choice{
	deploy: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/*Заголовок столбца формы заказа*/
.zagolovok-konec{

}

/*Элемент формы заказа*/
.element{
	
}

/*Первый компонент элемента, который принадлежит форме заказа*/
.CHOICE1{
	margin-top: 15px;
}

/*Поля, где нужно вводить текст*/
.CHOICE-text{
	width: 300px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.CHOICE-text2{
	width: 300px;
	padding-bottom: 10px;
	padding-top: 20px;
}


.CHOICE4{
	padding-top: 10px;
	padding-bottom: 10px;
}



/*
input{
	width: 300px;
	padding: 10px;
}
*/
select{
	width: 300px;
	padding: 10px;
}

/*компонент элемента, который принадлежит форме заказа*/
.CHOICE{

}

/*Доп.текст-пояснение под элементом*/
.italics{
	font-style: italic;
	font-size: 16px;
}

/*Блок с кнопками в конце формы*/
.end-buttons{
	margin-top: 10px;
}

/*Кнопки в конце формы*/
.end-form{
	border-radius: 0px;
	background-color: white;
}

@media(max-width: 800px){
	nav {
		border: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.container{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(max-width: 600px){
	h1{
		text-align: center;
	}
	nav{
		flex-direction: column;
		justify-content: center;
		font-size: 24px;
	}
	h2{
		text-align: center;
	}
	.container{
		grid-template-columns: 1fr;
	}
}